# Precompiled Python files
*.pyc

# PyCharm project files
.idea/

# Generated documentation
doc/

# Generated distributions
dist/
opcodes.egg-info
MANIFEST

# Raw inputs
raw/

# Mercurial files
.hg/
.hgignore
.hgeol
