[package]
name = "asm-lsp"
version = "0.6.0"
authors = ["Nikos Koukis <nickkouk@gmail.com>"]
edition = "2018"

description = "Language Server for x86/x86_64 Assembly Code"

documentation = "https://docs.rs/asm-lsp/latest/asm_lsp/"
homepage = "https://github.com/bergercookie/asm-lsp"
repository = "https://github.com/bergercookie/asm-lsp"

readme = "README.md"

keywords = ["assembly", "language-server", "lsp", "tooling", "x86"]
categories = ["command-line-utilities", "development-tools"]
publish = true
exclude = ["samples/*", "demo/*"]
license = "BSD-2-Clause"

[lib]
name = "asm_lsp"
path = "src/lib.rs"
[[bin]]
name = "asm-lsp"
path = "src/bin/main.rs"

[dependencies]
anyhow = "1.0.70"
# write to stderr instead of stdout
flexi_logger = "0.25.3"
log = { version = "0.4.17" }
lsp-server = "0.7.0"
lsp-types = "0.94.0"
quick-xml = "0.28.1"
regex = "1.7.2"
reqwest = { version = "0.11.15", features = ["blocking"] }
strum = "0.24.1"
strum_macros = "0.24.3"
serde_json = "1.0.94"
serde = "1.0.158"
toml = "0.8.1"
home = "0.5.5"
mockito = "1.2.0"
tree-sitter = "0.20.10"
tree-sitter-asm = "0.1.0"
once_cell = "1.18.0"
lsp-textdocument = "0.3.2"
dirs = "5.0.1"
symbolic = { version = "12.8.0", features = ["demangle"] }
symbolic-demangle = "12.8.0"

# [dev-dependencies]
