name: Lint Code / Run Tests

on:
  workflow_dispatch:
  push:
    branches:
      - "*"
    paths:
      - "src/**"
      - "Cargo.*"
      - build.rs
  pull_request:
    branches: ["master"]
    paths:
      - ".github/workflows/tests.yml"
      - "src/**"
      - "Cargo.*"
      - build.rs

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name == 'pull_request' && github.head_ref || github.sha }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  tests:
    name: Run Unit Tests
    runs-on: ${{ matrix.os }}

    continue-on-error: ${{ matrix.rust == 'nightly' }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [1.70.0, stable, beta, nightly]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - run: rustup toolchain install ${{ matrix.rust }} --profile minimal
      - uses: Swatinem/rust-cache@v2

      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.0
        name: Run pre-commit hooks
